article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Commands
      .details.col-sm-9
        p
          | The editor bar up above &uarr; understands a few client-side commands, which begin with a&nbsp;
          code :
          | . In contrast to the Neo4j Browser, the Open Source Tengu UI does not support (yet) typing
          | commands without a colon.
        table.table-condensed.table-help
          tr
            th Information:
            td
              a(help-topic="help") :help help
              a(help-topic="play") :help play
          tr
            th Tengu:
            td
              a(help-topic="tengu hauchiwa") :help tengu hauchiwa
              a(help-topic="tengu model") :help tengu model
          tr
            th Sojobo connectivity:
            td
              a(help-topic="server") :help server
              &nbsp;
              | (This will drastically change in future releases)
          tr
            th Editor:
            td
              a(help-topic="clear") :help clear
          tr
            th Command history:
            td
              a(help-topic="history") :help history
