article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Server
        p.lead Sojobo connection management
      .details.col-sm-9
        p
          | The &nbsp;
          code :server
          |  command lets you manage the connection to Tengu's Sojobo, such as connecting, disconnecting. 
          | At this moment the command manages how the user maps to the iMinds authority service.      
        table.table-condensed.table-help
          tr
            th Usage:
            td
              code :server &lt;auth&gt;
          //tr
            th Actions:
            td
              a(server-topic="status") :server status
              | &nbsp;
              a(server-topic="change-password") :server change-password
          tr
            th Auth:
            td
              a(server-topic="connect") :server connect
              | &nbsp;
              a(server-topic="disconnect") :server disconnect

