.inner
  h4.subtitled
    .sub(ng-if="!currentUser") Current Tengu User
    .sub(ng-if="currentUser") {{currentUser.name}}
      small Connected

  h5(ng-if="currentUser") Log out
  div(ng-if="currentUser")
    p
      button.btn.btn-popup.btn-destructive(ng-click="CurrentUser.logout(); toggleDrawer('profile') ") Sign out

  h5(ng-if="!currentUser") Log In
  div(ng-if="!currentUser")
    p
      button.btn.btn-popup.btn-popup(ng-click="CurrentUser.login(); toggleDrawer('profile') ") Sign in

  div.connection-error(ng-if="!syncService.hasConnection && !currentUser")
    p &nbsp;
    p It is not possible to connect to the Sojobo right now.
