.inner
  h4.subtitled
    .sub(ng-if="!currentUser") Current Tengu User
    .sub(ng-if="currentUser") {{currentUser.name}}
      small Connected

  h5(ng-if="currentUser") Log out
  div(ng-if="currentUser")
    p
      button.btn.btn-popup.btn-destructive(ng-click="CurrentUser.logout(); toggleDrawer('profile') ") Sign out

  h5(ng-if="!currentUser") Log In
  div(ng-if="!currentUser")
    p
      button.btn.btn-popup.btn-popup(ng-click="CurrentUser.login(); toggleDrawer('profile') ") Sign in

  div(ng-if="!currentUser && syncService.hasConnection", ng-controller="SyncSigninController")
    p &nbsp;
    h5 Sign In or Register
    p Neo4j Browser Sync is a companion cloud service for Neo4j Browser. Connect through a simple social sign-in
      | to get started.
    p 
      a(play-topic="neo4j-sync") About Neo4j Browser Sync
    alert.top-padded(ng-hide="goodBrowser") 
      | Neo4j Browser Sync is currently only available for some versions of Internet Explorer.
      | If you have any trouble, we'd love to hear from you at&nbsp;
      a(href="mailto:feedback@neotechnology.com")
        | feedback@neotechnology.com
    button.btn.btn-popup(ng-click="signInToSync()") Sign In / Register
    .box-max
      .checkbox
        label.muted(for="acceptedTermsAndPrivacyCheckBox")
          input#acceptedTermsAndPrivacyCheckBox(type="checkbox", ng-model="settings.acceptedTermsAndPrivacy", ng-change="save()")
          | By checking this box you are agreeing to the 
          a(href="http://neo4j.com/terms/neo4j-browser-sync/") Neo4j Browser Sync Terms of Use
          | &nbsp;and our&nbsp;
          a(href="http://neo4j.com/privacy-policy/") Privacy Policy
          |.  
    alert(ng-show='showSignupWarning', close="closeWarning()") Before you can sign in, please check the box above to agree to the terms of use and privacy policy.

  div.connection-error(ng-if="!syncService.hasConnection && !currentUser")
    p &nbsp;
    p It is not possible to connect to Neo4j Browser Sync right now.

#footer
#  p What's this?&nbsp;
#    a(href="http://neo4j.com/neo4j-browser-sync") Learn More
