.inner
  h4 Sojobo Information
  h5 Hauchiwas
  ul
    li.pair
      .key Hauchiwa count:
      .value {{ sojoboMetrics.hauchiwas }}

  h5 Sojobo
  ul
    li.pair
      .key Version:
      .value {{ tengu.version }}
    li.pair
      .key Location:
      .value {{settings.endpoint.tengu || '-'}}