.inner
  h4 About Tengu
  h5 Made by
    a.no-icon(href='http://tengu.io/')  Tengu.io
  h5 Adaptation of
    a.no-icon(href='http://neotechnology.com/')  Neo4j Community Browser
  p Copyright &copy; 2016–
    span= new Date().getFullYear()

  h5 License
  p
    | Visit our 
    a.no-icon(href='http://tengu.io/') website 
    | for licensing details.
    //a.no-icon(href='http://www.gnu.org/licenses/gpl.html') GPLv3
    //|  or
    //a.no-icon(href='http://www.gnu.org/licenses/agpl-3.0.html')  AGPL
    //|  for Open Source,
    //br
    //| and
    //a.no-icon(href='http://tengu.io/')  ???? 
    //|  for Commercial.

  h5 Participate
  ul
    li Ask questions at
      a.no-icon(href='http://stackoverflow.com/questions/tagged/tengu')  Stack Overflow
    li Contribute code on
      a.no-icon(href='https://github.com/TenguPaaS')  Github
        
  h5 Thanks
  p 
    | Tengu wouldn't be possible without a fantastic community. 
    | Thanks for all the feedback, discussions and contributions.
  p
    | Also many thanks to 
    a.no-icon(href='http://www.iminds.be/')  iMinds
    |  and 
    a.no-icon(href='http://www.ugent.be/')  Ghent University
