article.help(ng-controller="HauchiwaController")
  .container-fluid
    .section.row-fluid.summary(ng-show="status == 'init'")
      h3 Your Hauchiwa <code>{{hauchiwa}}</code> is still not ready
      p.lead
        | Please wait a little longer.
        | You can use the Auto-refresh functionality or submit another retry manually.
      br
      br
    .section.row-fluid.summary(ng-show="status == 'model-choice'")
      h3 There are multiple models available on your Hauchiwa <code>{{hauchiwa}}</code>.
      p.lead Please select which model you would like to show?
      br
      select.form-control(ng-model="model", style="margin: 0", ng-options="m for m in hauchiwa_models", ng-change="selectModel()")
      br
      br
    .section.row-fluid.summary(ng-show="status == 'bundle-check'")
      h3 Your Hauchiwa <code>{{hauchiwa}}</code> is ready
      p.lead
        | We are retrieveing the information about your bundle.
      p.lead(ng-show="ssh")
        | You can also ssh to your Hauchiwa. Use the SSH keys you provided during creation 
        | and connect to the following address: <code>{{ssh}}</code>
      br
      include bundle-graph
      br
    .section.row-fluid.summary(ng-show="status == 'error'")
      p.lead
        | There was a problem with your Hauchiwa.
        | Please see below for more information on the error.
      br
  footer.tight(ng-hide="status == 'error'")
    .actions
      .toggle.toggle-footer-margin(ng-click='toggleAutoRefresh()')
        a.toggle-text Auto-refresh
        .switch
          label
            .switch-inner(ng-class="{right: autoRefresh}")
              span.right-text
                | ON
              .handle
              span.left-text
                | OFF
      a.button.fa.fa-refresh(ng-click="refresh()")