article.help(ng-controller="ConsoleController")
  .container-fluid
    .section.row-fluid.summary(ng-show="show_console")
      iframe(ng-src="https://n097-18b.wall2.ilabt.iminds.be:3000/", width="100%", height="100%", frameborder="0")