article.guide(ng-controller="TenguCtrl")
  .container-fluid
    .section.row-fluid.summary
      .summary.col-sm-3
        h3 Welcome to Tengu
        .box-max
          img.img-responsive(src='images/tengu.png')
          p.lead.text-center {{ tengu.version }} - {{ tengu.edition }}

      .details.col-sm-9(ng-hide="static_is_authenticated")
        p.lead
          | Access to Tengu's Sojobo requires your authentication credentials to be present.
          | Please connect to one of the Fed4FIRE Authority Services.
        br
        button.btn.btn-default(id="connect_button", ng-click="authenticate()", style="margin: 0") Connect

      .details.col-sm-9(ng-show="static_is_authenticated")
        .teaser.teaser-3
          h3 Stream Processing
          p.lead Process continuous streams of data with Apache Storm.
          .icon-holder
            img.icon(src="images/storm-icon.png")
            ul.topic-bullets
              li easy data-sink API
              li predefined Storm topology
              li data will flow into Cassandra
            .clearfix
          button.btn.btn-cta(tengu-bundle="storm") Go with the flow

        .teaser.teaser-3
          h3 Batch Processing
          p.lead Analyse large files with Apache Spark.
          .icon-holder
            img.icon(src="images/spark-icon.png")
            ul.topic-bullets
              li get 4 Spark slaves
              li all spark libraries are ready to GO
              li data will be dumped on HDFS
            .clearfix
          button.btn.btn-cta(tengu-bundle="spark") Flashing

        .teaser.teaser-3
          h3 City of Things
          p.lead City of Things brings the Internet of Things to the city.
          .icon-holder
            img.icon(src="images/cityot.png")
            ul.topic-bullets
              li curently in Proof-of-Concept phase
              li capturing sensor data from all over the place
              li sensor data is stored in Kafka and MongoDB
            .clearfix
          button.btn.btn-cta(tengu-bundle="cityot") Visit us

      //
        .teaser.teaser-3
          h3 Lambda Architecture
          p.lead More than a letter of the Greek alphabet.
          .icon-holder
            img.icon(src="images/lambda.png")
            ul.topic-bullets
              li backed by Apache Storm and Spark
              li data is stored in HDFS and MongoDB
              li Tengu takes care of all synchronization
            .clearfix
          button.btn.btn-cta(play-topic='no_yet') Really real time
      .status-bar(ng-class='{error: frame.detailedErrorText, loading: frame.isLoading}')
        .status(ng-show="frame.detailedErrorText")
          .fa.fa-exclamation-triangle.icon-warning-sign &nbsp;
          {{frame.detailedErrorText}}