div(ng-controller="SojoboAuthCtrl")
  .outer
    include partials/frame-common-actions
    .inner
      .view-result
        article.help
          .container-fluid
            .section.row-fluid.summary(ng-show="!static_is_authenticated")
              .summary.col-sm-3
                h3 User is not signed in
                p.lead
                  | There is currently no user signed in. Please use your 
                  | credentials to 
                  code(exec-topic="signin") signin
                  | .
            .section.row-fluid.summary(ng-show="static_is_authenticated && static_user")
              .summary.col-sm-3
                h3 Welcome 
                  b {{static_user}}
                p.lead
                  | Lovely to see you.
              .details.col-sm-9
                .form
                  .row
                    .col-sm-9
                      | Credential Name
                      br
                      input.form-control(id="name", on-enter-target-id="type", type='text', ng-model="name", style="margin: 0")
                  .row.form-info
                    .col-sm-9
                      | Please provide a name for the credential. The name has 
                      | to be unique.
                      br
                      br
                  .row
                    .col-sm-9
                      | Cloud type
                      br
                      input.form-control(id="type", on-enter-target-id="credential", type='text', ng-model="type", style="margin: 0")
                      br
                  .row
                    .col-sm-9
                      | Credential
                      br
                      textarea.form-control(id="credential", on-enter="click", on-enter-target-id="connect_button", type='textarea', ng-model="credential", style="margin: 0")
                      br
                  .row
                    .col-sm-9
                      br
                      button.btn.btn-default(id="connect_button", ng-click="addCredential()", style="margin: 0") Add Credential
      .status-bar(ng-class='{error: frame.detailedErrorText, loading: frame.isLoading}')
        .status(ng-show="frame.detailedErrorText")
          .fa.fa-exclamation-triangle.icon-warning-sign &nbsp;
          {{frame.detailedErrorText}}
          div(ng-hide='frame.hasErrors')
            div(ng-show='frame.response')
              .fa.fa-ok
              | Logged in as {{frame.response.name}} ({{frame.response.identities[0].provider}})
        span(ng-show='frame.isLoading')
          .fa.fa-spinner.fa-spin
          | Initated login...
